.bg {
  background: url('../../../assets/images/textbookUnits/unit6/upper-right-bg.svg'),
    url('../../../assets/images/textbookUnits/unit6/lower-left-bg.svg');
  background-color: #f5e9f1;
  background-repeat: no-repeat;
  background-position: top right, left bottom;
  background-size: 100%, 100%;
}

.tab {
  border: 0.1rem solid #f0b4de;
  border-left: 1.2rem solid #f0b4de;
}

.input:checked + label {
  background-color: #f0b4de;
  border-radius: 0 0.8rem 0 0;
}

.separator {
  position: relative;
  width: 100%;
  min-height: 2px;
  background-color: #f0b4de;
}
