@import '../../../scss/abstracts.scss';

.ownGameWrapper {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  @include size(100%, 100%);
}

.ownGameHeaderWrapper{
  display: flex;
  min-height: 25px;
  color: aliceblue;
  @include size(100%, 10%);
}

.linkWrapper {
  min-height: 25px;
  color: aliceblue;
  background-color: deeppink;
  @include size(50%, 100%);
}

.healthPointsWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 25px;
  color: aliceblue;
  background-color: brown;
  @include size(50%, 100%);
}

.healthPointBlock {
  color: aliceblue;
  background-color: red;
  border: 2px solid whitesmoke;
  @include size(20%, 100%);
}

.mainFieldWrapper {
  display: flex;
  flex-direction: column;
  min-height: 25px;
  overflow-y: auto;
  color: aliceblue;
  background-color: chartreuse;
  @include size(100%, 65%);
}

.answerBlocksWrapper{
  display: flex;
  min-height: 25px;
  @include size(100%, 5%);
}

.taskWrapper {
  min-height: 25px;
  color: aliceblue;
  background-color: darkcyan;
  @include size(100%, 10%);
}

.taskBlocksWrapper {
  display: flex;
  min-height: 25px;
  color: aliceblue;
  background-color: darkorange;
  @include size(100%, 15%);
}

.taskBlock {
  min-width: 50px;
  min-height: 25px;
  max-height: 30px;
  color:steelblue;
  font-size: 20px;
  text-align: center;
  background-color: yellow;
  border: 2px solid whitesmoke;
  cursor: pointer;
  @include size(auto, auto);
}
