@import '../../../scss/abstracts.scss';

.dashboardContainer {
  padding: 20px;
  background: rgb(244, 244, 244);
  background: linear-gradient(
    150deg,
    rgba(227, 231, 243, 1) 0%,
    rgba(214, 218, 230, 1) 100%
  );
}

.dashboardPage {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 160px 1fr;
  width: 100%;
  height: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  background: #eff0f5;
  border-radius: $border-radius;
  box-shadow: 1px 1px 3px -2px #000;
}
