*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Nunito', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(199, 199, 199);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  color: rgb(63, 61, 61);
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
