*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Nunito', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  //   background-color: rgb(199, 199, 199);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
}
