@keyframes question {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(400px);
  }
}

.question {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 20px;
  transition: width 0.3s;
  animation: 6s linear question;
}
