@import '../../scss/abstracts.scss';

.textbook {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include flex(row, center, flex-end);
}

.unitTitle {
  position: absolute;
  top: 2.5rem;
  right: 3.5rem;
  height: 5rem;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5rem;
}
.wordsWrapper {
  width: 90%;
  min-height: 85vh;
  margin-top: 10rem;
  margin-bottom: 3%;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 5%;
  @include flex(row, space-between, flex-start);
}

.wordsBlock {
  width: 47%;
  height: 100%;
}
