@import '../../scss/abstracts.scss';

.textbook {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include flex(row, center, flex-end);
}

.unitTitle {
  position: absolute;
  top: 2.5rem;
  right: 4.5%;
  height: 5rem;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5rem;
}

.btnsBlock {
  position: absolute;
  top: 25px;
  left: 5%;
  width: 210px;
  height: 50px;
  @include flex(row, space-between, center);
}

.btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: contain;
  border: 0;
  outline: none;
  cursor: pointer;

  &_home {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/icons/textBook/home.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/homeHover.svg');
      transform: scale(1.05);
      transition: all 0.5s;
    }
  }
}

.settingsBlock {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/icons/textBook/settings.svg');
  background-position: center;
  background-size: contain;

  &:hover {
    background-image: url('../../assets/icons/textBook/settingsHover.svg');
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s;
  }
}

.gamesBlock {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/icons/textBook/games.svg');
  background-position: center;
  background-size: contain;

  &:hover {
    background-image: url('../../assets/icons/textBook/gamesHover.svg');
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s;
  }
}

.wordsWrapper {
  position: relative;
  width: 90%;
  min-height: 85vh;
  margin-top: 10rem;
  margin-bottom: 3%;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 30px;
  @include flex(row, space-between, flex-start);
}

.wordsBlock {
  width: 47%;
  height: 100%;
}

// .pageControls {
//   position: absolute;
//   right: 50%;
//   bottom: 15px;
//   width: 300px;
//   height: 40px;
//   transform: translate(50%, 0);
//   @include flex(row, space-between, center);
// }

.pageBlock {
  color: #848994;
  font-size: 25px;
}
