@import '../../scss/abstracts.scss';

.gamesWrapper {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 2px 2px 5px -3px #1c2542;
}

.gameCards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 20px 0;
}

.gamesTitle {
  color: #297ab9;
  font-weight: 800;
  font-size: 2rem;
}
