@import '../../../../scss/abstracts/mixins.scss';

.audio_icon {
  font-size: 150px;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  @include size(220px, 220px);
  @include flex(row, center, center);
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
