@import '../../scss/abstracts.scss';

.btnsBlock {
  position: absolute;
  top: 25px;
  left: 2.5%;
  height: 50px;
  @include flex(row, space-between, center);
}

.btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;

  &_home {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-image: url('../../assets/icons/textBook/home.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/homeHover.svg');
    }
  }
}

.settingsBlock {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url('../../assets/icons/textBook/settings.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  border-radius: 10px;
  transition: all 0.5s;

  &_active {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url('../../assets/icons/textBook/settingsHover.svg');
  }

  &:hover {
    background-image: url('../../assets/icons/textBook/settingsHover.svg');
    cursor: pointer;
  }
}

.gamesBlock {
  width: 50px;
  height: 50px;
  padding-left: 55px;
  background-image: url('../../assets/icons/textBook/games.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  border-radius: 10px;
  transition: all 0.5s;
  @include flex(row, space-around, center);

  &_active {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url('../../assets/icons/textBook/gamesHover.svg');
  }

  &:hover {
    background-image: url('../../assets/icons/textBook/gamesHover.svg');
    cursor: pointer;
  }
}

.gameIcon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s;
  }

  &_game1 {
    background-image: url('../../assets/icons/textBook/number1.svg');
  }

  &_game2 {
    background-image: url('../../assets/icons/textBook/number2.svg');
  }

  &_game3 {
    background-image: url('../../assets/icons/textBook/number3.svg');
  }

  &_game4 {
    background-image: url('../../assets/icons/textBook/number4.svg');
  }
}
