@import '../../scss/abstracts.scss';

.btnsBlock {
  position: absolute;
  top: 25px;
  left: 2.5%;
  width: 210px;
  height: 50px;
  @include flex(row, space-between, center);
}

.btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  outline: none;
  cursor: pointer;

  &_home {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/icons/textBook/home.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/homeHover.svg');
      transform: scale(1.05);
      transition: all 0.5s;
    }
  }
}

.settingsBlock {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/icons/textBook/settings.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    background-image: url('../../assets/icons/textBook/settingsHover.svg');
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s;
  }
}

.gamesBlock {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/icons/textBook/games.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    background-image: url('../../assets/icons/textBook/gamesHover.svg');
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s;
  }
}
