.background {
  height: 100vh;
  background-image: url('../../assets/images/savannah/afrika-savanna-zhirafy.jpg');
}

.dialog_modal {
  position: fixed;
  top: 50%;
  max-width: 500px;
  color: wheat;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.title {
  padding: 10px;
  border: 2px solid #f4b609d1;
  user-select: none;
}

input[type='submit'] {
  width: 150px;
  font-size: 20px;
  font-family: cursive;
  background-color: burlywood;
  border-color: black;
  border-radius: 15px;
  outline: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 6px 2px rgb(255 255 255 / 50%);
    transition: 0.3s;
  }
}

@keyframes load {
  0% {
    background-color: rgb(8, 100, 238);
  }
  25% {
    background-color: rgb(100, 146, 247);
  }
  50% {
    background-color: rgb(8, 100, 238);
  }
  100% {
    background-color: rgb(100, 146, 247);
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  animation: 3s linear infinite alternate load;
}
