@import '../../scss/abstracts.scss';

.pageControls {
  position: absolute;
  right: 50%;
  bottom: 15px;
  width: 300px;
  height: 40px;
  color: #848994;
  font-size: 25px;
  transform: translate(50%, 0);
  @include flex(row, space-between, center);
}

.btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: contain;
  border: 0;
  outline: none;
  cursor: pointer;

  &_firstPage {
    background-image: url('../../assets/icons/textBook/arrowFirstPage.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/arrowFirstPageHover.svg');
      transform: scale(1.05);
      transition: all 0.5s;
    }

    &:disabled {
      background-image: url('../../assets/icons/textBook/arrowFirstPage.svg');
      transform: none;
      cursor: default;
    }
  }

  &_prevPage {
    background-image: url('../../assets/icons/textBook/arrowPrevPage.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/arrowPrevPageHover.svg');
      transform: scale(1.05);
      transition: all 0.5s;
    }

    &:disabled {
      background-image: url('../../assets/icons/textBook/arrowPrevPage.svg');
      transform: none;
      cursor: default;
    }
  }

  &_nextPage {
    background-image: url('../../assets/icons/textBook/arrowNextPage.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/arrowNextPageHover.svg');
      transform: scale(1.05);
      transition: all 0.5s;
    }

    &:disabled {
      background-image: url('../../assets/icons/textBook/arrowNextPageHover.svg');
      transform: none;
      cursor: default;
    }
  }

  &_lastPage {
    background-image: url('../../assets/icons/textBook/arrowLastPage.svg');

    &:hover {
      background-image: url('../../assets/icons/textBook/arrowLastPageHover.svg');
      transform: scale(1.05);
      transition: all 0.5s;
    }

    &:disabled {
      background-image: url('../../assets/icons/textBook/arrowLastPageHover.svg');
      transform: none;
      cursor: default;
    }
  }
}
