@import '../../scss/abstracts.scss';

.footer {
  width: 100%;
  height: 30px;
  color: #fff;
  background: #297ab9;
  @include flex(row, space-around, center);
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer img {
  width: 70px;
}
