<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <div id="root">
      <aside class="nav">
        <div class="color1">color 1</div>
        <div class="color2">color 2</div>
        <div class="color3">color 3</div>
        <div class="color4">color 4</div>
        <div class="color5">color 5</div>
        <div class="color6">color 6</div>
      </aside>
      <main class="main main1">
        <div class="unit-title">РАЗДЕЛ 1</div>
        <div class="block">
          <div class="accordion">
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab3" name="tab-group" />
              <label for="tab3" class="tab-title">Porshe</label>
              <section class="tab-content">
                В HTML5 добавлены новые элементы, вроде &lt;header&gt;,
                &lt;footer&gt;, &lt;aside&gt;, &lt;article&gt;, появилась
                долгожданная поддержка аудио, видео и многое другое.
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab1" name="tab-group" />
              <label for="tab1" class="tab-title">Banana</label>
              <section class="tab-content">
                <p>Под HTML5 обычно подразумевают два разных понятия:</p>
                <ul>
                  <li>
                    Это язык разметки документа, пришедший на смену HTML4 и
                    XHTML.
                  </li>
                  <li>
                    Это набор веб-технологий, позволяющий делать на сайте всякие
                    интересные штуки.
                  </li>
                </ul>
              </section>
            </div>
            <div class="tab">
              <input type="checkbox" id="tab2" name="tab-group" />
              <label for="tab2" class="tab-title">Apple</label>
              <section class="tab-content">
                Нет, на HTML5 по прежнему нельзя программировать, основным
                языком является JavaScript. Так что в разговоре лучше не
                упоминать, что умеешь программировать на HTML5, засмеют.
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
