@import '../../scss/abstracts.scss';

.hidden {
  display: none;
}
.tabContent {
  position: relative;
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  @include flex(column, flex-start, flex-start);

  h4 {
    margin: 0.5rem 0 0 0;
  }

  &_header {
    width: 100%;
    @include flex(row, space-between, center);

    &___btnsBlock {
      position: relative;
      width: 70px;
      height: 30px;
      @include flex(row, space-between, center);
    }
  }
}
.lastLine {
  margin-bottom: 1rem;
}
.tab {
  position: relative;
  width: 100%;
  min-width: 402px;
  margin-bottom: 1rem;
  color: #848994;
  font: 2rem/1.2 Arial, sans-serif;
  background-color: rgba(229, 255, 251, 0.55);
  border-radius: 1rem;
}
.tabTitle {
  display: block;
  height: 50px;
  margin: -0.1rem; // hotfix 1px empty line which apperas on some res
  padding: 0 40px 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  @include flex(row, space-between, center);

  & span {
    font-size: 20px;
    line-height: 25px;
  }
}
.tabTitle::after {
  position: absolute;
  right: 10px;
  content: '+';
}
.tab :checked + .tabTitle::after {
  content: '−';
}
.tab :checked ~ .tabContent {
  max-height: 70rem;
}

.wordImg {
  align-self: left;
  width: 350px;
}

.wordTitle {
  max-width: 260px;
  font-size: 2.2rem;
}

.deleteWordBtn {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../assets/icons/textBook/delete.svg');
  background-position: center;
  background-size: contain;
  border: 0;
  outline: none;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.5s;
  }
}

.playSoundBtn {
  width: 30px;
  height: 30px;
  margin-bottom: 6px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../assets/icons/textBook/speakingBlack.svg');
  background-position: center;
  background-size: contain;
  border: 0;
  outline: none;

  &:hover {
    background-image: url('../../assets/icons/textBook/speakingBlue.svg');
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.5s;
  }
}

.starImg {
  width: 25px;
  height: 25px;
  background-image: url('../../assets/icons/textBook/starFalse.svg');
  background-position: center;
  background-size: contain;

  &_active {
    background-image: url('../../assets/icons/textBook/starTrue.svg');
  }

  &:hover {
    background-image: url('../../assets/icons/textBook/starTrue.svg');
    cursor: pointer;
  }
}
