@import '../../scss/abstracts.scss';

.hidden {
  display: none;
}
.tabContent {
  position: relative;
  max-height: 0;
  overflow: hidden;

  &_header {
    width: 100%;
    @include flex(row, space-between, center);

    &___btnsBlock {
      position: relative;
      width: 12rem;
      height: 3rem;
      @include flex(row, space-between, center);
    }
  }
}
.lastLine {
  margin-bottom: 1rem;
}
.tab {
  position: relative;
  width: 100%;
  min-width: 402px;
  margin-bottom: 1rem;
  color: #848994;
  font: 2rem/1.2 Arial, sans-serif;
  background-color: rgba(229, 255, 251, 0.55);
  border-radius: 1rem;
}
.tabTitle {
  display: block;
  margin: -0.1rem; // hotfix 1px empty line which apperas on some res
  padding: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.tabTitle::after {
  float: right;
  content: '+';
}
.tabContent {
  padding: 0 2rem;
  transition: 0.5s ease-in-out;
  @include flex(column, flex-start, flex-start);
}
.tab :checked + .tabTitle::after {
  content: '−';
}
.tab :checked ~ .tabContent {
  max-height: 70rem;
}

.wordImg {
  align-self: left;
  width: 350px;
}

.wordTitle {
  font-size: 2.2rem;
}

.playSoundBtn {
  width: 3rem;
  height: 3rem;
}

h4 {
  margin: 0.5rem 0 0 0;
}
