.game_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 40px 0 40px;
}

.heart_wrapper {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.heart {
  width: 25px;
}
