.game_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.game_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../../assets/images/games/savannah/savannah.jpg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 100%;
  transition: background 1.5s;
}

.game_main {
  justify-content: space-between;
  height: calc(100% - 80px);
  padding: 20px;
}

@keyframes question {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(400px);
  }
}

.question {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 20px;
  transition: width 0.3s;
  animation: 6s linear question;
}

.game_words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.scrollBtn,
.play_word {
  position: absolute;
  top: 50px;
  width: 150px;
  height: 25px;
  background-color: tomato;
  outline: none;
  cursor: pointer;
}

.play_word {
  top: 80px;
}
